{% extends "base2.html" %}
{% block content%}

<section id="form" class="margin-left:30px">
<div class="continer">

    <div class="row justify-content-center">
    <div class="col-sm-4 mx-2 mb-5 justify-content-center">
            <div class="card" style="width: 25rem;">
            <div class="signpu-form p-5">
                <h5 class="justify-content-center">Create your account</h5>
                <form method="post">
                    {% csrf_token %}
                    {%for field in form %}
                    {{field.errors}}
                    <p>{{field}}</p>
                    {%endfor%}
                    <button class="btn btn-primary" type="submit">Sign Up</button>

                </form>
                </div>
            </div>
            </div>
        </div>
        
    </div>
    

</div>
</section>



{% endblock  %}
